<h1>Judge.me closing down</h1>

<p>Dear customer,</p>

<p>Judge.me has ceased operations on Monday July 1st, 2013.</p>

<p>
	All current and future cases are referred to 
	<a href="http://www.net-arb.com">Net-Arb</a>, a leading provider of online
	arbitration. Like Judge.me, Net-Arb uses an email arbitration system and 
	offers ex aequo et bono arbitration. If you liked the Judge.me service you
	will feel right at home at Net-Arb. Recently Net-Arb also partnered with 
	BTCJam, the leading provider of peer to peer Bitcoin loans. We are thus 
	confident that Net-Arb is also a great fit for the part of our client base
	that prefers to trade with cryptocurrencies.
</p>

<p>
	Moreover, all payments on open cases have been reimbursed. Please
	note that this does not imply any decision on the arbitrability of these
	disputes. Instead, Judge.me refers those administrative powers to Net-Arb.
</p>

<p>
	Last but not least, thank you to the arbitration and libertarian communities
	for the overwhelming support we have received during our 18 months of
	operations. This support made it that much harder to close the digital curtain.
</p>

<p>Yours sincerely,</p>

<p>The Judge.me team</p>